services:
  db:
    image: postgres:16-alpine
    container_name: my_news_db
    environment:
      POSTGRES_USER: 'admin'
      POSTGRES_PASSWORD: 'password1234'
      POSTGRES_DATABASE: 'nestjs_news'
    ports:
        - '5432:5432'
    volumes:
    - postgres_data:/var/lib/postgresql/data 
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password12345
    ports:
      - "5050:80"

volumes:
  postgres_data:   
