name: 1. CI - Build & Push Docker Images to GHCR

on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  # ลบ IMAGE_BACKEND และ IMAGE_FRONTEND ออกจากตรงนี้ เพราะเราจะไปประกาศใน Steps แทน

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      # [เพิ่ม] ขั้นตอนนี้เพื่อแปลงชื่อเจ้าของ Repo ให้เป็นตัวเล็กทั้งหมด
      - name: Lowercase Repo Owner
        run: |
          echo "IMAGE_BACKEND=${GITHUB_REPOSITORY_OWNER,,}/nestjs-news-backend" >> $GITHUB_ENV
          echo "IMAGE_FRONTEND=${GITHUB_REPOSITORY_OWNER,,}/nestjs-news-frontend" >> $GITHUB_ENV
        env:
          GITHUB_REPOSITORY_OWNER: '${{ github.repository_owner }}'

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend-api
          push: true
          # ตรงนี้จะเรียกใช้ตัวแปรที่เราสร้างจากขั้นตอน Lowercase 
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_BACKEND }}:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend-web
          push: true
          build-args: |
            VITE_API_URL=47.131.60.222:3000
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_FRONTEND }}:latest
