name: 1. CI - Build & Push

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_BACKEND: ${{ github.repository_owner }}/nestjs-news-backend
  IMAGE_FRONTEND: ${{ github.repository_owner }}/nestjs-news-frontend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend-api
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_BACKEND }}:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend-web
          push: true
          build-args: |
            VITE_API_URL=47.131.60.222:3000
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_FRONTEND }}:latest